.connectionSettings {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ethernet,
.wireless {
  width: 50%;
  border: 1px solid #a39e9e;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ethernet {
  border-right: none;
}
